$min-font-color: #20232a;
$desc-font-color: #818693;
.order_content {
  height: calc(100vh - 20rpx);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // padding-top: 160rpx;
  padding: 20rpx 0 0 0;
  position: relative;
  .order_content_box{
    width: 100%;
    height: 100%;
  }
  // box-sizing: border-box;
  .restaurant_info_box {
    position: relative;
    color: $min-font-color;
    width: 100%;
    height: 160rpx;
    // 注释掉背景色
    // background: linear-gradient(90deg, #E94E3C, #E9793C);
    .restaurant_info {
      position: absolute;
      z-index: 9;
      left: 30rpx;
      // transform: translateX(-50%);
      display: flex;
      width: calc(100% - 60rpx);
      // margin:0 auto;
      background: rgba(255, 255, 255, 0.97);
      box-shadow: 0px 4rpx 10rpx 0px rgba(69, 69, 69, 0.1);
      border-radius: 16rpx;
      padding: 40rpx;
      box-sizing: border-box;
      .left_info {
        flex: 1;
        .title {
          font-size: 36rpx;
          color: $min-font-color;
        }
        .position {
          color: $desc-font-color;
          font-size: 36rpx;
        }
      }
      .restaurant_logo {
        .restaurant_logo_img {
          display: block;
          width: 320rpx;
          height: 120rpx;
          border-radius: 16rpx;
        }
      }
    }
  }

  // 新写逻辑
  .new_address {
    width: 730rpx;
    height: 240rpx;
    background-color: #fff;
    margin: 0 auto;
    border-radius: 12rpx;
    z-index: 10;
    margin-bottom: 20rpx;
    display: flex;
    flex-direction: column;

    // 上部
    .top {
      margin: 0 22rpx 0 30rpx;
      flex: 1;
      display: flex;
      // align-items: center;
      .address_name {
        flex: 1;
        // display: flex;
        // flex-direction: column;
        overflow: hidden;
        .address {
          // flex: 1;
          height: 50rpx;
          line-height: 50rpx;
          margin-top: 22rpx;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          .word {
            opacity: 1;
            font-size: 36rpx;
            font-family: PingFangSC, PingFangSC-Medium;
            font-weight: 550;
            color: #20232a;
          }
        }
        .name {
          // flex: 1;
          height: 34rpx;
          line-height: 34rpx;
          margin-top: 8rpx;
          .name_1,
          .name_2 {
            opacity: 1;
            font-size: 26rpx;
            font-family: PingFangSC, PingFangSC-Regular;
            font-weight: 400;
            text-align: center;
            color: #333333;
          }
          .name_2{
            margin-left: 10rpx;
          }
        }
      }
      .address_name_disabled {
        flex: 1;
        font-size: 32rpx;
        font-family: PingFangSC, PingFangSC-Regular;
        font-weight: 400;
        color: #bdbdbd;
        align-self: center;
      }
      .address_image {
        width: 80rpx;
        height: 100%;
        position: relative;
        .to_right {
          width: 30rpx;
          height: 30rpx;
          vertical-align: middle;
          margin-bottom: 10rpx;
          position: absolute;
          top: 50%;
          right: 6rpx;
          transform: translateY(-50%);
        }
      }
    }
    // 下部
    .bottom {
      margin: 0 28rpx;
      height: 94rpx;
      // line-height: 94rpx;
      border-top: 1px dashed #ebebeb;
      box-sizing: border-box;
      .word_bottom {
        opacity: 1;
        font-size: 26rpx;
        font-family: PingFangSC, PingFangSC-Regular;
        font-weight: 400;
        text-align: left;
        color: #333333;
        height: 34rpx;
        line-height: 34rpx;
        margin-top: 24rpx;
        display: inline-block;
      }
    }
  }
  .order_list_cont {
    // height: 100%;
    // height: calc(100vh - 320rpx - 118rpx);
    // width: 100%;
    width: 730rpx;
    // border-radius: 12rpx;
    margin: 0 auto;
    .order_list {
      border-radius: 12rpx;
      background-color: #fff;
      width: 100%;
      height: 100%;
      // padding-top: 80rpx;
      box-sizing: border-box;
      position: relative;
      margin-bottom: 20rpx;
      &:last-child{
        margin-bottom: 176rpx;
      }
      .order-type{
        padding: 40rpx 0 10rpx 0;
      }
      .type_item {
        display: flex;
        margin-bottom: 40rpx;
        &:last-child{
          margin-bottom: 0;
        }
        .dish_img {
          width: 128rpx;
          margin: 0 20rpx 0 32rpx;
          .dish_img_url {
            display: block;
            width: 128rpx;
            height: 128rpx;
            border-radius: 8rpx;
          }
        }
        .dish_info {
          position: relative;
          flex: 1;
          padding-bottom: 40rpx;
          border-bottom: solid 1px #ebeef5;
          margin-right: 20rpx;
          .dish_name {
            font-size: 32rpx;
            font-weight: bold;
            color: #20232a;
          }

          .dish_price {
            font-size: 28rpx;
            color: #818693;
            font-family: PingFangSC, PingFangSC-Regular;
            font-weight: 400;
            height: 40rpx;
            line-height: 40rpx;
            margin-top: 32rpx;
            padding-left: 4rpx;
            .ico {
              font-size: 24rpx;
            }
            .dish_number {
              padding: 0 10rpx;
              // line-height: 72rpx;
              font-size: 28rpx;
            }
          }
          .dish_active {
            position: absolute;
            right: 20rpx;
            bottom: 20rpx;
            display: flex;
            font-size: 36rpx;
            color: #e94e3c;
            font-family: DIN, DIN-Medium;
            font-weight: 500;
            .ico {
              line-height: 66rpx;
              font-size: 24rpx;
            }
          }
        }
        &:last-child{
          .dish_info{
            border-bottom: 0;
          }
        }
      }
      &::before {
        // content: "";
        // position: absolute;
        // width: 100vw;
        // height: 120rpx;
        // z-index: 99;
        // background: linear-gradient(
        //   0deg,
        //   rgba(255, 255, 255, 1) 10%,
        //   rgba(255, 255, 255, 0)
        // );
        // bottom: 0px;
        // left: 0px;
      }
      .seize_seat {
        width: 100%;
        height: 98rpx;
      }
      .word_text {
        // padding-bottom: 20rpx;
        // margin-left: 24rpx;
        // margin-right: 40rpx;
        margin: 0 16rpx 0 22rpx;
        border-bottom: 1px solid #efefef;
        height: 120rpx;
        line-height: 120rpx;
        .word_style {
          height: 44rpx;
          opacity: 1;
          font-size: 32rpx;
          font-family: PingFangSC, PingFangSC-Medium;
          font-weight: 500;
          text-align: left;
          color: #333333;
          line-height: 44rpx;
          letter-spacing: 0px;
          padding-left: 6rpx;
        }
      }
      // 添加的备注
      .uni-textarea {
        width: 730rpx;
        .beizhu_text {
          padding: 0 30rpx;
          box-sizing: border-box;
          width: 100%;
          height: 200rpx;
          line-height: 60rpx;
          // border: 1px solid #ccc;
          opacity: 1;
          background: #ffffff;
          border-radius: 12rpx;
          padding-top: 20rpx;
          // color: #bdbdbd;
          font-size: 26rpx;
        }
        .beizhu_text_ios {
          padding: 0 22rpx;
        }
        /deep/ .textarea-placeholder{
          font-size: 26rpx;
          line-height: 34rpx;
          height: 34rpx;
          font-size: 26rpx;
          font-family: PingFangSC, PingFangSC-Regular;
          font-weight: 400;
          text-align: left;
          color: #bdbdbd;
          line-height: 34rpx;
        }
      }
    }
  }
  .footer_order_buttom {
    position: fixed;
    display: flex;
    bottom: 48rpx;
    width: calc(100% - 60rpx);
    height: 88rpx;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.9);
    border-radius: 50rpx;
    box-shadow: 0px 6rpx 10rpx 0px rgba(0, 0, 0, 0.25);
    z-index: 999;
    padding: 0rpx 10rpx;
    box-sizing: border-box;
    .order_number {
      position: relative;
      width: 120rpx;
      .order_number_icon {
        position: absolute;
        display: block;
        width: 120rpx;
        height: 118rpx;
        left: 12rpx;
        bottom: 0px;
      }
      .order_dish_num {
        position: absolute;
        display: inline-block;
        z-index: 9;
        // width: 36rpx;
        min-width: 12rpx;
        height: 36rpx;
        line-height: 36rpx;
        padding: 0 12rpx;
        left: 92rpx;
        font-size: 24rpx;
        top: -8rpx;
        // text-align: center;
        border-radius: 20rpx;
        background-color: #e94e3c;
        color: #fff;
        font-weight: 500;
      }
    }
    .order_price {
      flex: 1;
      text-align: left;
      color: #fff;
      line-height: 88rpx;
      padding-left: 34rpx;
      box-sizing: border-box;
      font-size: 36rpx;
      font-weight: bold;
      .ico {
        font-size: 24rpx;
      }
    }
    .order_but {
      // background-color: #d8d8d8;
      // width: 364rpx;
      height: 72rpx;
      line-height: 72rpx;
      border-radius: 72rpx;
      text-align: center;
      margin-top: 8rpx;
      display: flex;
      .order_but_left {
        flex: 1;
        background-color: #473d26;
        color: #ffb302;
        border-radius: 72rpx 0 0 72rpx;
      }
      .order_but_rit {
        // flex: 1;
        width: 200rpx;

        // color: #20232a;
        // border-radius: 0 72rpx 72rpx 0;
        border-radius: 72rpx;
        background: #ffc200;
        font-size: 30rpx;
        font-family: PingFangSC, PingFangSC-Medium;
        font-weight: 500;
        color: #333333;
      }
    }
  }
  .pop_mask {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: rgba($color: #000000, $alpha: 0.4);
    .pop {
      width: calc(100% - 160rpx);
      position: relative;
      top: 40%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      background: #fff;
      border-radius: 20rpx;
      .open_table_cont {
        padding-top: 60rpx;
        position: relative;
        .cont_icon {
          position: relative;
          height: 164rpx;
          .cont_icon_img {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 0px;
            width: 360rpx;
            height: 360rpx;
          }
        }
        .cont_tit {
          font-size: 48rpx;
          color: #20232a;
          text-align: center;
        }
        .cont_desc {
          font-size: 32rpx;
          color: #818693;
          text-align: center;
          padding-bottom: 40rpx;
        }
      }
      .butList {
        background: #f7f7f7;
        display: flex;
        text-align: center;
        border-radius: 20rpx;
        .define {
          flex: 1;
          font-size: 36rpx;
          line-height: 100rpx;
        }
        .cancel {
          flex: 1;
          font-size: 36rpx;
          line-height: 100rpx;
        }
      }
    }
    .close {
      position: absolute;
      bottom: -180rpx;
      left: 50%;
      transform: translateX(-50%);
      .close_img {
        width: 88rpx;
        height: 88rpx;
      }
    }
  }
  .mask-box{
    position: absolute;
    height: 136rpx;
    width: 100%;
    bottom: 0;
    background-color: #f6f6f6;
    opacity: 0.5;
  }
}
